<% provide :title, :home %>
<% provide :header_page, "Your event" %>
<% content_for :header_content do %>
  <button data-modal-toggle="exampleModal" class="btn btn-primary rounded">
    <span>Create event</span>
  </button>
<% end %>

<div class="">
  <div class="">
    <%= fa_icon "camera-retro" %>
    <%= turbo_stream_from :events %>
    <%= turbo_frame_tag :events,
      class: "row row-cols-1 row-cols-md-2 g-4" do %>
      <%= render @events %>
    <% end %>
  </div>
</div>

<% content_for :modal_title, "Create" %>
<% content_for :modal_body do %>
  <%= render "events/form", event: @event %>
<% end %>
