<% provide :title, :home %>
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">
      Dashboard
    </h1>
    <span data-modal-toggle="defaultModal">Create</span>
  </div>
</header>
<div class="px-4 py-6 sm:px-0">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <%= turbo_stream_from :events %>
    <%= turbo_frame_tag :events,
      class: "mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6 items-center" do %>
      <%= render @events %>
    <% end %>
  </div>
</div>


<% content_for :modal do %>
  <%= form_for Event.new, remote: true do |f|%>
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-3">
          <%= f.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
          <%= f.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
            placeholder: "name", required: true %>
          </div>
          <div class="col-span-6 sm:col-span-3">
        <%= f.label :happen_at, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= f.datetime_field :happen_at, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
          focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
          placeholder: "name", required: true %>
      </div>
      </div>
          <div class="my-4">
        <%= f.label :description, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400" %>
        <%= f.text_area :description, class: "block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border
        border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600
        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        rows: 6, required: true %>
      </div>
    <div class="modal-footer">
      <%= f.submit "Add", class: "text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
    </div>
  <% end %>
<% end %>
