<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "mt-8 space-y-6") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
  <div class="form-floating mb-3">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
      class: "form-control", placeholder: "Password" %>
    <%= f.label :password %>
  </div>
  <div class="form-floating mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
      class: "form-control", placeholder: :password_confirmation %>
    <%= f.label :password_confirmation %>
  </div>
  <%= f.submit "Change my password", class: "w-100 mb-2 btn btn-lg rounded-4 btn-primary" %>
<% end %>
