<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "mt-8 space-y-6") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
  <div>
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
      class: "form-control", placeholder: "Password" %>
  </div>
  <div>
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
      class: "form-control", placeholder: :password_confirmation %>
  </div>
  <%= f.submit "Change my password", class: "btn btn-primary mb-4" %>
<% end %>
