<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, class: "mt-8 space-y-6") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
      class: "form-control", placeholder: "Email address",
      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
  <%= f.submit "Resend confirmation instructions", class: "btn btn-primary mb-4" %>
<% end %>
