<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "mt-8 space-y-6") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
      class: "form-control", placeholder: "Email address" %>
    <%= f.label :email %>
  </div>
  <div class="form-floating mb-3">
    <%= f.password_field :password, autocomplete: "new-password",
      class: "form-control", placeholder: :password %>
    <%= f.label :password %>
  </div>
  <div class="form-floating mb-5">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
      class: "form-control", placeholder: :password_confirmation %>
    <%= f.label :password_confirmation %>
  </div>
  <%= f.submit "Sign up", class: "w-100 mb-2 btn btn-lg rounded-4 btn-primary" %>
<% end %>
