<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
      class: "form-control", placeholder: "Email address" %>
    <%= f.label :email %>
  </div>
  <%= f.submit "Resend unlock instructions",
    class: "w-100 mb-2 btn btn-lg rounded-4 btn-primary"  %>
<% end %>
