<tr>
  <th scope="row"><%= link_to event.id, event_path(event), class: "text-decoration-none text-primary fw-bold" %></th>
  <td><%= link_to event.user_id, edit_user_registration_path, class: "text-decoration-none text-primary fw-bold" %></td>
  <td><%= event.name %></td>
  <td><%= event.tasks.any? ? (event.tasks.sum(:progress) / event.tasks.count).round(3) : 0 %></td>
  <td><%= event.tasks.size %></td>
  <td><%= event.name %></td>
  <td><%= event.name %></td>
  <td><%= event.name %></td>
  <td><%= event.name %></td>
  <td><%= event.name %></td>
  <td>
    <%= link_to edit_event_path(event), remote: true, class: "text-decoration-none text-primary fw-bold" do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
    &emsp;
    <%= content_tag :span, onclick: "confirm_delete('#{event_path event}')",
      class: "text-decoration-none text-danger fw-bold" do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
  </td>
</tr>
