<% provide :title, "Profile" %>
<% provide :bg_body, "bg-light" %>
<section class="bg-light">
  <div class="container">
    <%= render "admin/users/info_user" %>
    <%= render "admin/users/statistic_user" %>
    <%= render "admin/users/events_user" %>
  </div>
</section>
<script>
  $(document).ready(function () {
    $('#exampleModalLabel').html('Edit <%= resource_name.to_s.humanize %>');
    $('#modal_body').html('<%= j render "shared/devise/edit_user" %>');
    myModal.show();
  });
</script>
