<div class="col p-4">
  <div class="box-task">
    <%= link_to truncate(task.name, length: 30), event_task_path(event_id: @event || 1, id: task, tab: "show_main_tasks"), remote: true,
      class:"h5 text-decoration-none text-dark fw-bold" %>
    <div class="progress my-3">
      <div class="progress-bar progress-bar-striped progress-bar-animated <%= color_completion_rate task.progress %>" role="progressbar"
        style="width: <%= task.progress || 0 %>%;"
        aria-valuenow="<%= task.progress || 0 %>"
        aria-valuemin="0" aria-valuemax="100">
        <%= task.progress || 0 %>%
      </div>
    </div>
    <div class="row">
      <% if task.end_time %>
        <div class="col-8 <%= "text-danger fw-bold" if (task.end_time || Time.now ) < Time.now %>">
          <i class="fa-solid fa-calendar-plus"></i>
          <%= parse_time task.end_time %>
        </div>
      <% end %>
      <% if task.sub_tasks.count > 0 %>
        <span class="col">
          <i class="fa-solid fa-sitemap" title="Sub tasks"></i>
          <%= task.sub_tasks.count %>
        </span>
      <% end %>
    </div>
  </div>
</div>
