<div class="row">
  <div class="col-8 border-end border-4 p-3">
    <h5>
      Description
    </h5>
    <span class="">
      <%= @task.description %>
    <span>
    <h5>
      Subtask
    </h5>
    <%= form_for [@event, Task.new] do |f| %>
      <div class="row g-3 my-3">
        <div class="col-9">
          <%= f.text_field :name, class: "form-control", placeholder: "name", required: true %>
        </div>
        <div class="col-3">
          <%= f.hidden_field :parent_id, value: @task.id %>
          <%= f.submit "Create sub task", class: "btn btn-primary" %>  
        </div>          
      </div>          
    <% end %>
    <%= turbo_stream_from :tasks %>
    <%= turbo_frame_tag :tasks,
      class: "row" do %>
      <%= render "sub_tasks", sub_tasks: @task.sub_tasks if @task %>
    <% end %>
  </div>
  <div class="col-4">
  </div>
</div>
