<%= turbo_frame_tag dom_id(task), class: "col p-3 mb-3" do %>
  <div class="card shadow-sm p-3 mb-3 bg-body rounded width-400">
    <%= link_to task.name, event_task_path(event_id: @event || 1, id: task),data: { turbo: false }, 
      class:"h3 text-decoration-none text-dark" %>
    <div class="progress my-3">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" 
        style="width: <%= task.progress || 0 %>%;" 
        aria-valuenow="<%= task.progress || 0 %>" 
        aria-valuemin="0" aria-valuemax="100">
        <%= task.progress || 0 %>%
      </div>
    </div>
    <p>
      <i class="fa-solid fa-circle-info"></i>
      <%= task.description %>
    </p>
    <p>
      <i class="fa-solid fa-calendar-minus"></i>
      <%= parse_time task.start_time %>
      <i class="fa-solid fa-calendar-plus ms-5"></i>
      <%= parse_time task.end_time %>
    </p>    
    <p>
      <i class="fa-solid fa-comment-dollar"></i>
      <%= number_to_currency(task.estimated_costs, locale: :vi)  %>
      <i class="fa-solid fa-money-bills ms-5"></i>
      <%= number_to_currency(task.actual_costs, locale: :vi)  %>
    </p>
    <br>
    <div>
      <%= link_to :Edit, edit_event_task_path(task.event_id,task), data: { turbo: false }, remote: true,
        class: "text-decoration-none text-primary fw-bold" %>
      &emsp;
      <%= link_to :Delete, event_task_path(task.event_id, task), method: :delete, 
        class: "text-decoration-none text-danger fw-bold" %>
    </div>
  </div>
<% end %>
