<div class="row">
  <div class="col-8 border-end border-4 p-3">
    <h4><%= @task.name %></h4>
    <h5>Progress</h5>
    <div class="p-0 my-3">
      <%= render "shared/progress", task: @task %>
    </div>
    <h5 class="my-3">
      Description
    </h5>
    <span>
      <%= @task.description.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe if @task.description %>
    <span>
    <% if @task.images.any? %>
      <h5>
        Images
      </h5>
      <div class="d-flex flex-wrap justify-content-start align-items-center overflow-auto p-2 mb-3" style="height: 200px">
        <% @task.images.each do |img| %>
          <%= image_tag img.url, alt: img.identifier , class: "img-fluid rounded my-3 mx-2 image_task",
            style: "width: 150px;" %>
        <% end %>
      </div>
    <% end %>
    <h5>
      Subtask
    </h5>
    <%= form_for [@event, Task.new], remote: true do |f| %>
      <div class="row g-3 my-3">
        <div class="col-6">
          <%= f.text_field :name, class: "form-control", placeholder: "name", required: true %>
        </div>
        <div class="col-3">
          <%= f.number_field :estimated_costs, class: "form-control",  step: :any,
            placeholder: "estimated_costs", required: true %>
        </div>
        <div class="col-3">
          <%= f.hidden_field :parent_id, value: @task.id %>
          <%= f.submit "Create sub task", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <%= render "list_sub_tasks", sub_tasks: @task.sub_tasks if @task %>
    </div>
  </div>
  <div class="col-4">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Action</th>
          <td>
            <%= content_tag :span, class: "pe-auto text-success fw-bold", role: :button,
              onclick: "copy_clipboard('#{event_task_url(event_id: @event || 1, id: @task)}')" do %>
              <i class="fa-solid fa-copy"></i>
            <% end %>
            &emsp;
            <%= link_to edit_event_task_path(@task.event_id,@task), data: {turbo: false}, remote: true,
              class: "text-decoration-none text-primary fw-bold" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            &emsp;
            <%= content_tag :span,
              onclick: "confirm_delete('#{event_task_path(@task.event_id, @task)}')",
              class: "text-decoration-none text-danger fw-bold" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>
            <span class="badge rounded-pill <%= status_color @task.status %>">
              <%= @task.status.capitalize %>
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">Start Time</th>
          <td><%= parse_time @task.start_time %></td>
        </tr>
        <tr>
          <th scope="row">Due time</th>
          <td class="<%= "text-danger fw-bold" if (@task.end_time || Time.now ) < Time.now %>">
            <%= parse_time @task.end_time %>
          </td>
        </tr>
        <tr>
          <th scope="row">Estimated Costs</th>
          <td><%= number_to_currency(@task.estimated_costs, locale: :vi) %></td>
        </tr>
        <tr>
          <th scope="row">Actual Costs</th>
          <td class="<%= "text-danger fw-bold" if @task.actual_costs > @task.estimated_costs %>">
            <%= number_to_currency(@task.actual_costs, locale: :vi) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= javascript_pack_tag "components/open_img.js" %>
