<% provide :header_page, "Task" + @task.name if @task %>
<% content_for :header_content do %>
  <button data-modal-toggle="defaultModal" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
    <span>Create sub task</span>
  </button>
  <%= link_to "Back", :back, class:"bg-red-400 hover:bg-ed-400 text-white font-bold py-2 px-4 border border-red-400 rounded" %>
<% end %>
  <%= @task.progress %> %
      <p class="font-medium">
      description:
      <span class="text-sm text-gray-500 dark:text-gray-400">
        <%= @task.description %>
      <span>
    </p>
        <p class="font-medium">
      start_time:
      <span class="text-sm text-gray-500 dark:text-gray-400">
        <%= parse_time @task.start_time %>
      <span>
    </p>
        <p class="font-medium">
      end_time:
      <span class="text-sm text-gray-500 dark:text-gray-400">
        <%= parse_time @task.end_time %>
      <span>
    </p>
            <p class="font-medium">
      estimated_costs:
      <span class="text-sm text-gray-500 dark:text-gray-400">
        <%= number_to_currency(@task.estimated_costs, locale: :vi)  %>
      <span>
    </p>
            <p class="font-medium">
      actual_costs:
      <span class="text-sm text-gray-500 dark:text-gray-400">
                <%= number_to_currency(@task.actual_costs, locale: :vi)  %>

      <span>
    </p>

  <br>

    <%= link_to :Edit, edit_event_task_path(@task.event_id,@task),data: { turbo: false }, class: "text-blue-600/100 font-bold" %>
    &emsp;
    <%= link_to :Delete, event_task_path(@task.event_id, @task), method: :delete, class: "text-red-600/100 font-bold" %>
  </div>
<%= turbo_stream_from :tasks %>
<%= turbo_frame_tag :tasks,
  class: "mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6 items-center" do %>
  <%= render @task.sub_tasks if @task %>
<% end %>
