<div class="row">
  <div class="col-8 border-end border-4 p-3">
    <h4><%= @task.name %></h4>
    <h5 class="my-3">
      Description
    </h5>
    <span>
      <%= @task.description.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe if @task.description %>
    <span>
    <h5>
      Subtask
    </h5>
    <%= form_for [:admin, @topic, Task.new], remote: true do |f| %>
      <div class="row g-3 my-3">
        <div class="col-9">
          <%= f.text_field :name, class: "form-control", placeholder: "name", required: true %>
        </div>
        <div class="col-3">
          <%= f.hidden_field :parent_id, value: @task.id %>
          <%= f.submit "Create sub task", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <%= render "list_sub_tasks", sub_tasks: @task.sub_tasks if @task %>
    </div>
  </div>
  <div class="col-4">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Action</th>
          <td>
            <%= content_tag :span, class: "pe-auto text-success fw-bold", role: :button,
              onclick: "copy_clipboard('#{admin_topic_task_url(topic_id: @topic, id: @task)}')" do %>
              <i class="fa-solid fa-copy"></i>
            <% end %>
            &emsp;
            <%= link_to edit_admin_topic_task_path(@task.topic_id, @task), data: {turbo: false}, remote: true,
              class: "text-decoration-none text-primary fw-bold" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            &emsp;
            <%= content_tag :span,
              onclick: "confirm_delete('#{admin_topic_task_path(@task.topic_id, @task)}')",
              class: "text-decoration-none text-danger fw-bold" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>
            <span class="badge rounded-pill <%= status_color @task.status %>">
              <%= @task.status.capitalize %>
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">Estimated Costs</th>
          <td><%= number_to_currency(@task.estimated_costs, locale: :vi) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= javascript_pack_tag "components/open_img.js" %>
