<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/admin/shim" %>
    <%= include_gon %>
  </head>
  <body id="page-top">
    <div id="wrapper">
      <%= render "layouts/admin/sidebar" %>
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            <%= render "layouts/admin/topbar" %>
            <div class="container-fluid">
              <%= yield %>
            </div>
          </div>
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
<%= javascript_pack_tag "components/init_functions.js" %>
