<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/shim" %>
    <%= include_gon %>
  </head>
  <body>
    <%= render "layouts/admin/top_bar" %>
    <div class="container-fluid bg-light p-5 min-vh-100">
      <%= yield %>
    </div>
  </body>
  <%= render (user_signed_in? ? "layouts/footer" : "layouts/footer_landing_page") %>
  <%= render "layouts/modal" %>
  <div id="flash">
    <%= render "layouts/flash_toast" %>
  </div>
</html>
<%= javascript_pack_tag "components/init_functions.js" %>
