<%= turbo_frame_tag dom_id(event) do %>
  <div class="col">
    <div class="card">
     <div class="card-body">
        <%= link_to event.name, event_path(event), data: { turbo: false }, class:"mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" %>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          <%=h truncate(event.description, length: 100) %>
        </p>
        <p class="font-medium">
          Happen at:
          <span class="text-sm text-gray-500 dark:text-gray-400">
            <%= event.happen_at.strftime "%H:%M %d-%m-%Y" %>
          <span>
        </p>
        <p class="font-medium">
          Location:
          <span class="text-sm text-gray-500 dark:text-gray-400">
            <%= event.location %>
          <span>
        </p>
          <p class="font-medium">
          Topic:
          <span class="text-sm text-gray-500 dark:text-gray-400">
            <%= event.topic&.name || "None" %>
          <span>
        </p>
        <span class="">Progress</span>
        <div class="progress" style="height: 25px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated  bg-success" role="progressbar" 
            style="width: <%= event.tasks.any? ? event.tasks.sum(:progress) / event.tasks.count : 0 %>%;" 
            aria-valuenow="<%= event.tasks.any? ? event.tasks.sum(:progress) / event.tasks.count : 0 %>" 
            aria-valuemin="0" aria-valuemax="100">
            <%= event.tasks.any? ? event.tasks.sum(:progress) / event.tasks.count : 0 %>%
          </div>
        </div>
        <br>
        <%= link_to :Details, event_path(event),data: { turbo: false }, class: "text-decoration-none text-success fw-bold" %>
        &emsp;
        <%= link_to :Edit, edit_event_path(event), class: "text-decoration-none text-primary fw-bold" %>
        &emsp;
        <%= link_to :Delete, event_path(event), method: :delete, class: "text-decoration-none text-danger fw-bold" %>
      </div>
    </div>
  </div>
<% end %>
