<div class="row justify-content-between p-5 m-4 mt-0">
  <div class="headings-2 ms-3">
    Thống kê sự kiện
  </div>
  <div class="col-4 row">
    <div class="m-3 d-flex flex-column justify-content-between align-items-stretch">
      <div class="col mb-3 box-format">
        <div class="title">
          Nhiệm vụ
        </div>
        <br>
        <span class="text-primary fw-bold">
          Tổng cộng: <%= @data_chart[:total_task_status][:total] %>
        </span>
        <br>
        <span class="text-primary fw-bold">
          Đã hoàn thành:  <%= @data_chart[:total_task_status][:completed] %>
        </span>
        <br>
        <span class="text-primary fw-bold">
          Đang tạm hoãn: <%= @data_chart[:total_task_status][:pending] %>
        </span>
        <br>
        <span class="text-primary fw-bold">
          Đang thực hiện: <%= @data_chart[:total_task_status][:in_progress] %>
        </span>
         <br>
        <span class="text-primary fw-bold">
          Chưa thực hiện: <%= @data_chart[:total_task_status][:open] %>
        </span>
        <br>
      </div>
      <div class="col mt-3 box-format">
        <div class="title">
          Chi phí
        </div>
        <%= pie_chart @data_chart[:costs_chart][:data],
          colors: @data_chart[:costs_chart][:colors],
          donut: true,
          library: {
            animation: {easing: :easeInOutCubic},
            tooltip: {
              pointFormat: "Costs: <b>{point.y}</b>"
            }
          } %>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="m-3 box-format">
      <div class="title">
        Thời gian
      </div>
      <%= column_chart @tasks.group_by_day(:start_time).count %>
    </div>
  </div>
  <div class="col-7">
    <div class="m-3 box-format">
      <div class="title">
        Thời gian
      </div>
      <%= line_chart @tasks.group_by_day(:start_time).count %>
    </div>
  </div>
  <div class="col-5">
    <div class="m-3 box-format">
      <div class="title">
        Thời gian
      </div>
      <%= pie_chart @tasks.group(:progress).count,
        library: {animation: {easing: :easeInOutCubic}} %>
    </div>
  </div>
</div>
