<div class="row justify-content-between p-5 m-4 mt-0">
  <div class="headings-2 ms-3">
    Thống kê sự kiện
  </div>
  <div class="col-12">
    <div class="m-3 box-format d-flex flex-nowrap">
      <div class="col-4 border-end">
        <%= render "events/costs_chart", costs_chart: @data_chart[:costs_chart],
          title: "Chi phí toàn sự kiện"%>
      </div>
      <div class="col-4 border-end">
        <%= render "events/costs_chart", costs_chart: @data_chart[:actual_costs_chart],
          title: "Chi phí đến thời điểm hiện tại" %>
      </div>
      <div class="col-4">
        <%= render "events/statistic_total_tasks" , total_task_status_chart: @data_chart[:total_task_status_chart] %>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="m-3 box-format">
      <div class="title">
        Tiến trình
      </div>
      <%= render "events/process_chart", progress_chart: @data_chart[:process_chart] %>
    </div>
  </div>
  <div class="col-7">
    <div class="m-3 box-format">
      <div class="title">
        Thống kê trạng thái của mỗi nhiệm vụ theo ngày bắt đầu
      </div>
      <%= render "events/status_chart", status_chart: @data_chart[:status_chart] %>
    </div>
  </div>
</div>
