<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">
      EVent <%= @event.name %>
    </h1>
    <span data-modal-toggle="defaultModal">Create</span>
  </div>
</header>
<%= turbo_stream_from :tasks %>
<%= turbo_frame_tag :tasks,
  class: "mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6 items-center" do %>
  <%= render @tasks %>

<% end %>


  <% content_for :modal do %>

 <%= render 'tasks/form', task: Task.new %>
  <% end %>
