<% provide :header_page, "Event" + @event.name %>
<% content_for :header_content do %>
  <button data-modal-toggle="defaultModal" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
    <span>Create task</span>
  </button>
  <%= link_to "Back", :back, class:"bg-red-400 hover:bg-ed-400 text-white font-bold py-2 px-4 border border-red-400 rounded" %>
<% end %>

<div id="calendar"></div>

<%= turbo_stream_from :tasks %>
<%= turbo_frame_tag :tasks,
  class: "mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6 items-center" do %>
  <%= render @tasks.where(parent_id: nil) %>

<% end %>

<% content_for :modal_title, "Create Task" %>
<% content_for :modal_body do %>

  <%= render 'tasks/form', task: Task.new %>
<% end %>
<script>
  let room_id = "<%= @event.id  %>"
</script>
<%= javascript_pack_tag "calendar_room.js" %>
