<div class="mb-3">
  <h1>
    Event:  <%= @event.name %>
  </h1>
  <%= link_to "Create task", new_event_task_path(@event.id), class:"btn btn-primary",
    "data-bs-toggle": :modal, "data-bs-target": "#exampleModal", "data-bs-whatever": "@mdo", remote: true %>
  <%= link_to "Back", :back, class:"btn btn-warning" %>
</div>
<div class="row">
  <div class="col-7 p-4 border-end border-5">
    <%= turbo_stream_from :tasks %>
    <%= turbo_frame_tag :tasks,
      class: "row" do %>
      <%= render @tasks.where(parent_id: nil) %>
    <% end %>
  </div>
  <div class="col-5 p-3">
    <div id="calendar"></div>
  </div>
</div>
<<<<<<< HEAD

<% content_for :modal_title, "Create Task" %>
<% content_for :modal_body do %>
  <%= render 'tasks/form', task: Task.new %>
<% end %>
=======
>>>>>>> 87566fa (As)
<%= javascript_pack_tag "calendar_room.js" %> 
