<%= link_to event_path(event), class: "list-group-item list-group-item-action" do %>
  <div class="d-flex w-100 justify-content-between">
    <h4 class="mb-1"><%= event.name %></h4>
    <small class="text-muted"><%= time_ago_in_words event.created_at %></small>
  </div>
  <p class="mb-1"><%=h truncate(event.description, length: 200) %></p>
  <div class="d-flex w-100 justify-content-between my-2">
    <small class="text-muted fw-bold">
      Topic
      &nbsp;/&nbsp;
      <%= event.topic&.name || "None"%>
    </small>
    <small class="text-muted fw-bold">
      Location
      &nbsp;/&nbsp;
      <%= event.location %>
    </small>
    <small class="text-muted fw-bold">
      Happen at
      &nbsp;/&nbsp;
      <%= parse_time event.happen_at %>
    </small>
    <small class="text-muted fw-bold">
      Status
      &nbsp;/&nbsp;
      <span class="badge rounded-pill <%= status_color event.status %>">
        <%= event.status.capitalize %>
      </span>
    </small>
  </div>
<% end %>
