<div class="row align-items-center">
  <div class="col-lg-5 row justify-content-evenly">
    <%= image_tag "avatar_none.webp", class: "col-8" %>
  </div>
  <div class="col-lg-6">
    <div class="about-text go-to">
      <h3 class="dark-color"><%= @user.full_name %></h3>
      <div class="row about-list my-3">
        <div class="col-md-6">
          <div class="media my-3">
            <label class="fw-bold">Birthday</label>&nbsp;/&nbsp;
            <%= @user.date_of_birth %>
          </div>
          <div class="media my-3">
            <label class="fw-bold">Address</label>&nbsp;/&nbsp;
            <%= @user.address %>
          </div>
          <div class="media my-3">
            <label class="fw-bold">Gender</label>&nbsp;/&nbsp;
            <%= @user.gender %>
          </div>
          <div class="media my-3">
            <label class="fw-bold">Phone</label>&nbsp;/&nbsp;
            <%= @user.phone %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media my-3">
            <label class="fw-bold">Email</label>&nbsp;/&nbsp;
            <%= @user.email %>
          </div>
          <div class="media my-3">
            <label class="fw-bold">Account type</label>&nbsp;/&nbsp;
            <%= @user.role %>
          </div>
          <div class="media my-3">
            <label class="fw-bold">Last sign in</label>&nbsp;/&nbsp;
            <%= time_ago_in_words @user.last_sign_in_at if @user.last_sign_in_at %>
          </div>
          <div class="media my-3">
            <label class="fw-bold">Created at</label>&nbsp;/&nbsp;
            <%= parse_time @user.created_at %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
