<section class="gray-bg">
  <div class="container">
    <%= render "admin/users/info_user" %>
    <%= render "admin/users/statistic_user" %>
    <%= render "admin/users/events_user" %>
    <div class="bg-white shadow my-5 rounded-3 border-start-5 border-left-danger">
      <div class="list-group">
        <div class="m-3">
          <%= page_entries_info @activities, entry_name: "Activities" %>
        </div>
        <%= render_activities(@activities) %>
        <div class="m-3">
          <%= paginate @activities %>
        </div>
      </div>
    </div>
  </div>
</section>
