<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render "layouts/header" %>
     <% end %>
    <main class="container">
        <%= yield %>
    </main>
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>
  </body>
</html>
<%= render "layouts/modal" %>
