<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/shim" %>
    <%= include_gon %>
  </head>
  <body class="<%= yield :bg_body %>">
    <% if user_signed_in? %>
      <%= render "layouts/top_bar" %>
    <% end %>
    <main class="min-vh-100 <%= "p-5 pb-0" if user_signed_in? %>">
      <%= yield %>
    </main>
  </body>
  <%= render "layouts/modal" %>
  <%= render "layouts/modal_small" %>
  <div id="flash">
    <%= render "layouts/flash_toast" %>
  </div>
  <%= render (user_signed_in? ? "layouts/footer" : "layouts/footer_landing_page") %>
</html>
<%= javascript_pack_tag "components/init_functions.js" %>
<%= javascript_pack_tag "components/init_variables.js" %>
